body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-image: url("img/hero.jpg");
   background-repeat: no-repeat;
   background-size: contain;
   min-width: 960px;
}

main {
 flex: 1 0 auto;
}

h2 {
  color: #FF4081;
  font-weight: bold;
  font-size: 32px;
  display: inline-flex;;
}

.nav-wrapper {
  background-color: #1565C0;
  padding-right: 20px;
  padding-left: 100px;
}

.parallax-container {
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  /*justify-content: space-around;*/
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 400px;
}

.parallax-container .section {
  width: 100%;
}

.card-container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: 200px;
}

.card {
  min-height: 250px;
  /*max-width: 300px;*/
  /*min-width: 200px;*/
}

.service-icon {
  display: inline-flex;
  width: 50px;
  height: 50px;
  padding-right: 10px;
  padding-top: 20px;
}

.btn-large {
  background-color: #FF4081;
}

.btn-large:hover {
  background-color: #FF99C0;
}


#custom-footer {
  background-color: #1565C0;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer-copyright {
  background-color: #0D47A1;
}
